# Application
PORT=
NODE_ENV=
FRONTEND_URL=

MOCK_OTP=

# Database
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Termii SMS OTP Service
TERMII_API_KEY=
TERMII_SENDER_ID=

# OTP Configuration
OTP_EXPIRY_MINUTES=
OTP_LENGTH=

# Paystack (for bank verification)
PAYSTACK_SECRET_KEY=

ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=
QR_CODE_BASE_URL=

# Termii Email
TERMII_EMAIL_CONFIG_ID=
TERMII_AGENT_WELCOME_TEMPLATE_ID=
TERMII_AGENT_SUSPENDED_TEMPLATE_ID=
TERMII_AGENT_DEACTIVATED_TEMPLATE_ID=
TERMII_AGENT_REACTIVATED_TEMPLATE_ID=

SUPPORT_EMAIL=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=